<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>Choose from the Following eCards</H1>
{% load static %}

<form action="{% url 'detail' %}"  method="POST">{% csrf_token %}
    {% for image in images %}
    <input type="radio" name='ecard' id='{{image}}' value='{{image}}'/>
    <label for='{{image}}'><img src='/static/{{image}}' width="25%" height="25%" alt="Gurudeva" align="middle"/></label>
{% endfor %}
    <br>
    <input type="submit"  value="Submit">
</form>
</body>

</html>